<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tutorial\Dependency\Model\InjectableInterface" type="Tutorial\Dependency\Model\Injectable" />
    <preference for="Tutorial\Dependency\Model\NonInjectableInterface" type="Tutorial\Dependency\Model\NonInjectable" />

    <!-- preference is not the preferred way for abstract classes 
         for interfaces also, preference is the way when only one class implements that interface 
         otherwise, use <arguments> inside <type>
            
         preference may be used for overriding or rewriting classes in some cases.
    -->

    <!-- <preference for="Tutorial\Dependency\Model\AbstractUtil" type="Tutorial\Dependency\Model\Util" /> -->
    
    <type name="Tutorial\Dependency\Model\Main">
        <arguments>
            <argument name="abstractUtil" xsi:type="object">Tutorial\Dependency\Model\Util\Proxy</argument>
            <argument name="optional" xsi:type="object">Tutorial\Dependency\Model\Optional</argument>
            <argument name="arr" xsi:type="array">
                <item name="id" xsi:type="string">Main Id</item>
            </argument>
        </arguments>
    </type>
</config>
