<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <event name="core_layout_block_create_after">
        <observer name="add_link" instance="Tutorial\PassDataToBlocks\Observer\Example" />
    </event>
</config>
