<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="adjust_product_price" instance="Siddhanr\Story18\Observer\AdjustProductPrice" />
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="adjust_category_product_price" instance="Siddhant\Story18\Observer\AdjustCategoryProductPrice" />
    </event>
</config>